*{
    padding: 0;
    margin: 0;
}
.allContent{
    overflow: hidden;
}

#fondAnime{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}
#bck1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -9;
}
#bck2{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -8;
}
#title{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
}
#DVJ{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#head{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}
#head>p{
    color: white;
}
#web{
    font-size: 30px;
    font-family: rubrik new;
}
#about{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#textContent{
    display: flex;
    align-items: center;
}
#text{
    text-align: center;
    width: 35%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 7%;
}
/* SLIDER AVEC SWIPER JS */
.swiper-container {
    width: 40vw;
    height: 350px;
    margin-left: auto;
    margin-right: 7%;
    text-align: center;
  }
  .gallery-top{
      margin-top: 5%;
  }
  .gallery-top .swiper-slide{
      width: 300px;
  }
  .gallery-top .swiper-slide>img{
    width: 40vw;
}
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide>img {
    width: 150px;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }